html{
	position: relative;
}

body{
	margin-bottom: 80px;
	margin-top:55px;
}

.navigasi{
	background-color: #000000;
	padding:6px;
}

.navigasi a.nav-link{

	margin:5px;
	margin-top: 0x;
	padding:5px; 
	color: #33ccff;
	border-radius: 5px;
}

.logo{
	margin-left: 0;	
}

.navigasi a.nav-link:hover{
	color: #33ccff;
	background-color: inherit;
	border:2px solid #33ccff;
	border-radius: 5px;
}

.jumbotron img{
	border:3px solid #33ccff;
	transition: 1s;

}

.jumbotron img:hover{
	border:9px double #33ccff;
	transition: 1s;

}

.jumbotron h1{
	margin-top: 20px;
}

hr{
	width: 250px;
	border-top: 3px solid #33ccff;
	transition: 1s;

}


section{
	padding-bottom: 100px;
	padding-top: 50px;

}


.about{
	margin-top: -30px;
}

.about h2{
	margin-top: 50px;
}


.about hr{
	margin-bottom: 30px;
}

.about:hover hr{
	width: 350px;
	border-top: 2px solid #33ccff;
	transition: 1s;
}


.portfolio{
	background-color: #eee;
}

.portfolio:hover hr{
	width: 350px;
	border-top: 2px solid #33ccff;
	transition: 1s;

}

.portfolio h2{
	margin-top: 50px;
}

.portfolio a{
	margin-top: 20px;
}

.portfolio img{
	transition: 1.5s;
}
.portfolio img:hover{
	margin-top: -20px;
	transition: 1s;
}


.btn-success {
  color: #fff;
 position: fixed;
  margin-left: 42.5%;
 margin-top: 40%;

  background-color: #28a745;
  border-color: #28a745;
  width: 200px;
  float: center;
  height: 50px;
}

.btn-success:hover {
  color: #28a745;
  background-color: #fff;
  border-color: #1e7e34;
}

.contact{
	background-color: #fff;
}


.contact:hover hr{
	width: 350px;
	border-top: 2px solid #33ccff;
	transition: 1s;
}

.contact h2{
	margin-top: 50px;
}

.contact input{
	border-left: #33ccff 2px solid;

}

.contact textarea{
	border-left: #33ccff 2px solid;

}

.contact textarea:hover{
	border-left: #33ccff 5px outset;

}

.contact input:hover{
	border-left: #33ccff 5px outset;

}

label{
	float: left;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 1px;

}

.blue{
	color: #33ccff;
	font-weight: bold;
}

.btn{
	margin-top: 20px;
	background-color: #33ccff;
	border:2px solid white;
	color: white;
	border-radius: 5px;
}

.btn:hover {
	background-color: white;
	border:2px solid #33ccff;
	color: #33ccff;
	border-radius: 5px;
}